<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/index.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="navbar" id="navbar">
        <div class="logo">
            <strong>Ong, Jevanio Atansya</strong>
        </div>
        <div>
            <nav>
                <ul class="nav-ul">
                    <li><a href="layout.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="Project.html">Project</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
   {% block body %}
    {% endblock %} 
</body>